<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body></body>

<script>
var list = $('<ol>').appendTo('body');
$(document).ready(function(e) {
    $.getJSON('/cakes.json', function(result){
        $(result.cakes).each(function(index, cake){
            list.append('<li>' + cake.name + ' id: ' + cake.id  + '</li>');    
        });
    });
});
</script>
